Feedback for our baby: love the colours and layout. I'd like to divide the portfolio into different
collections as I send you more pictures and produce more pieces. So, there would be the classic
collection (the photos that are already on there), the colourful ones that I've just sent you (
need to think of a good name for the collection. Motivational calligraphy?), and the illuminated letters
that I'm working on now.

There's also a fourth possible collection to include the "komorebi" calligraphy. I have some other black
line drawing pieces merging skeletons and calligraphy. I'll send you the other pictures when I have them.
Oh, and a 5th collection themed on space. I've made the backgrounds, and need to figure out a way of
scanning 
them and superimposing some calligraphy on there.
